.btnShared {
    width: 246px;
    height: 70px;
    background: #FCE82F;
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 30px;
    color: #000000;
}