<div>
    <div class="d-flex flex-column align-items-center">
        <app-fancy-header name="Get in Touch"></app-fancy-header>
        <div class="actions">
            <div class="d-flex flex-column align-items-center">
                <img class="action_width" src="assets/images/call.svg" alt="">
                <p class="action_name">Call Us</p>
                <p class="action_contact">+234-806 749-700</p>
            </div>
            <div class="d-flex flex-column align-items-center">
                <img class="action_width" src="assets/images/send.svg" alt="">
                <p class="action_name">Send Email</p>
                <p class="action_contact">revent@digital.com</p>
            </div>
        </div>         
    </div>
    <div class="contact_form">
        <div class="short_inputs">
            <input type="text" class="contact_field half_width">
            <input type="text" class="contact_field half_width">
        </div>
        <input type="text" class="contact_field full_width">
        <textarea class="contact_field full_width"></textarea>
        <app-button-ui name="Send message"></app-button-ui>
    </div>
</div>