<div>
    <div class="d-flex justify-content-center">
        <app-fancy-header name="Resume"></app-fancy-header>         
    </div>
    <div class="exp_content">
        <div class="half_width">
            <div class="resume">
                <div>
                    <p class="year">2017</p>
                    <p class="school">Louisanna State University</p>
                    <p class="course">Lorem Ipseum</p>
                </div>
                <div>
                    <p class="year">2018</p>
                    <p class="school">Havard EdX</p>
                    <p class="course">Principles of Design</p>
                </div>
            </div>
        </div>
       <div class="half_width justify_end">
            <div class="resume">
                <div>
                    <p class="year">2019</p>
                    <p class="school">Udacity</p>
                    <p class="course">Product Design</p>
                </div>
                <div>
                    <p class="year">2020</p>
                    <p class="school">Microsoft Partner</p>
                    <p class="course">Platinum</p>
                </div>
            </div>
       </div>
        <div></div>
    </div>
</div>
