<div>
    <img id="logo" src="assets/images/revent-logo.svg" alt="">
</div>
<div class="into_parent">
    <div class="intro_content">
        <h3>Innovative Solution Taliored to your Business need</h3>
        <p>We can partner with your business to provide a symbiotic relationship and synergy to 
            help you or your business achieve more business growth through strategic financial advisory, 
            investment business and human resource planning and management.​
        </p>
        <app-button-ui name="Get in touch"></app-button-ui>
        <div class="social_link">
            <img src="assets/images/bet.svg" alt="">
            <img src="assets/images/bask.svg" alt="">
            <img src="assets/images/Facebook.svg" alt="">
        </div>
    </div>
    <div>
        <img id="fancy" src="assets/images/fancy1.svg" alt="">
    </div>
</div>
