<div class="abt-cont">
    <div class="d-flex justify-content-center">
        <app-fancy-header name="About Us"></app-fancy-header>         
    </div>
    <div class="abt-inner">
        <div>
            <img id="abt-img" src="assets/images/abt-img.svg" alt="">
        </div>
        <div>
            <h6>We focus on value and excellence</h6>
            <p>We are focused on providing products which deliver demonstrably good value for our clients and 
                end-customers – be that a specific return, outperforming an index or achieving returns at lower 
                risk.​
                <br><br>
                Through achieving value for the clients whose assets we manage, efficiently controlling costs, 
                effectiveness and efficiency, we deliver value to our shareholders and wider stakeholders​
            </p>
            <app-button-ui name="Work with Us"></app-button-ui>
        </div>
    </div>
</div>
