<div>
    <div class="d-flex justify-content-center">
        <app-fancy-header name="Portfolio"></app-fancy-header>         
    </div>
    <div class="port_menu">
        <a routerLink="/"><li class="active">All</li></a>
        <a routerLink="/"><li>Website</li></a>
        <a routerLink="/"><li>MobileApp</li></a>
        <a routerLink="/"><li>CSS</li></a>      
        <a routerLink="/"><li>GitHub</li></a>    
    </div>
    <div class="port_content flex-wrap">
        <div>
            <img src="assets/images/port_content.svg" alt="">
        </div>
        <div>
            <img src="assets/images/port_content.svg" alt="">
        </div>
        <div>
            <img src="assets/images/port_content.svg" alt="">
        </div>
    </div>
</div>